<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445926181868-5rg52fqhug48puf9gu7ps97pbltfu96a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445926181868-5rg52fqhug48puf9gu7ps97pbltfu96a</string>
	<key>API_KEY</key>
	<string>AIzaSyAvd1dteHQM-0qQkB45m0YzehqfKr6p8Pw</string>
	<key>GCM_SENDER_ID</key>
	<string>445926181868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FireBaseBasic.danli</string>
	<key>PROJECT_ID</key>
	<string>fir-basic-83dd9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-basic-83dd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445926181868:ios:f8ccb1e30127e38b100ec9</string>
	<key>DATABASE_URL</key>
	<string>https://fir-basic-83dd9.firebaseio.com</string>
</dict>
</plist>